:root {
    --primary: #475472;
    --warning: #2a3143;
    --secondary: #eeeeee;
    --success: #424e6a;
    --white: white;
    --black: black;
    --transparent: transparent;

}

.btn {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border-radius: 0em;
    cursor: pointer;
    transition: transform 0.3s ease;
    
}

.btn:hover {
    transform: translateY(-3px);
    background-color: var(--secondary);
    text-shadow: 0 0 2em rgba(0,0,0,1);
}

/* Button Colors */

.btn--primary--solid {
    background-color: var(--transparent);
    color: var(--black);
    margin-left: 600px;
    margin-top: -350px;
    margin-bottom: 300px;
    border: 0.05em solid #000000;
    display: inline-block;
    box-sizing: border-box;
    /* box-shadow: -3px 3px 1px rgba(0,0,0,0.5); */
}
.btn--other--solid {
    background-color: var(--transparent);
    color: var(--black);
    margin-left: 655px;
    margin-top: -275px;
    margin-bottom: 300px;
    border: 0.05em solid #000000;
    display: inline-block;
    box-sizing: border-box;
    /* box-shadow: -3px 3px 1px rgba(0,0,0,0.5); */
}

.btn--warning--solid {
    background-color: var(--transparent);
    color: var(--black);
    margin-left: 14px;
    margin-top: -230px;
    margin-bottom: 300px;
    border: 0.05em solid #000000;
    display: inline-block;
    box-sizing: border-box;
    /* box-shadow: -3px 3px 1px rgba(0,0,0,0.5); */
}
.btn--primary--outline {
    background-color: var(--transparent);
    color: var(--black);
    margin-left: 790px;
    margin-top: -260px;
    margin-bottom: 300px; 
    display: inline-block;
    box-sizing: border-box;
    /* border: 2px solid var(--primary); */  
}

.btn--primary--outline2 {
    background-color: var(--transparent);
    color: var(--black);
    margin-left: -835px;
    margin-top: -285px;
    margin-bottom: 300px; 
    /* margin-right: 834px; */
    display: inline-block;
    box-sizing: border-box;

    /* border: 2px solid var(--primary); */  
}
.btn--primary--outline3:hover {
    transform: translateY(-3px);
    background-color: transparent;
}
.btn--primary--outline3 {
    background-color: var(--transparent);
    color: var(--black);
    margin-left: 70px;
    margin-top: -528px;
    margin-bottom: 500px; 
    /* margin-right: 834px; */
    display: inline-block;
    box-sizing: border-box;

    /* border: 2px solid var(--primary); */  
}
.btn--primary--outline2:hover {
    transform: translateY(-3px);
    background-color: transparent;
}
.btn--primary--outline4 {
    background-color: var(--transparent);
    color: var(--black);
    margin-left: -730px;
    margin-top: -395px;
    margin-bottom: 370px; 
    /* margin-right: 834px; */
    display: inline-block;
    box-sizing: border-box;

    /* border: 2px solid var(--primary); */  
}
.btn--primary--outline4:hover {
    transform: translateY(-3px);
    background-color: transparent;
}
.btn--prog--all {
    background-color: var(--transparent);
    color: var(--black);
    margin-left: 11px;
    margin-top: 60px;
    margin-bottom: 0em;
    border: 0.05em solid #000000;
    display: inline-block;
    box-sizing: border-box;
    /* box-shadow: -3px 3px 1px rgba(0,0,0,0.5); */
}
.btn--flappy {
    background-color: var(--transparent);
    color: var(--black);
    margin-left: 700px;
    margin-right:60px;
    margin-top: -120px;
    margin-bottom: 80px;
    border: 0.05em solid #000000;
    display: inline-block;
    box-sizing: border-box;
    /* box-shadow: -3px 3px 1px rgba(0,0,0,0.5); */
}
.btn--flappy--tf {
    background-color: var(--transparent);
    color: var(--black);
    margin-left: 695px;
    margin-right:60px;
    margin-top: -50px;
    margin-bottom: 80px;
    border: 0.05em solid #000000;
    display: inline-block;
    box-sizing: border-box;
    /* box-shadow: -3px 3px 1px rgba(0,0,0,0.5); */
}
.btn--flappy--2 {
    background-color: var(--transparent);
    color: var(--black);
    margin-left: 700px;
    margin-right:60px;
    margin-top: -170px;
    margin-bottom: 190px;
    border: 0.05em solid #000000;
    display: inline-block;
    box-sizing: border-box;
    /* box-shadow: -3px 3px 1px rgba(0,0,0,0.5); */
}
.btn--flappy:hover {
    transform: translateY(-3px);
    background-color: var(--transparent);
    /* text-shadow: 0 0 2em rgba(0,0,0,1); */
}
.btn--flappy--2:hover {
    transform: translateY(-3px);
    background-color: var(--transparent);
    /* text-shadow: 0 0 2em rgba(0,0,0,1); */
}
.btn--flappy--tf:hover {
    transform: translateY(-3px);
    background-color: #FFDB58;
    /* text-shadow: 0 0 2em rgba(0,0,0,1); */
}
.btn--flappy--github {
    background-image: url(../assets/GitHub-Mark-32px.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--transparent);
    color: var(--black);
    margin-left: 1000px;
    margin-top: -140px;
    margin-bottom: 110px;
    border: 0.05em solid #000000;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 100px;
    /* box-shadow: -3px 3px 1px rgba(0,0,0,0.5); */
}
.btn--flappy--github2 {
    background-image: url(../assets/GitHub-Mark-32px.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--transparent);
    color: var(--black);
    margin-left: 1000px;
    margin-top: -230px;
    margin-bottom: 190px;
    border: 0.05em solid #000000;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 100px;
    /* box-shadow: -3px 3px 1px rgba(0,0,0,0.5); */
}
.btn--flappy--github3 {
    background-image: url(../assets/GitHub-Mark-32px.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--transparent);
    color: var(--black);
    margin-left: 200px;
    margin-top: -210px;
    margin-bottom: 170px;
    border: 0.05em solid #000000;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 100px;
    /* box-shadow: -3px 3px 1px rgba(0,0,0,0.5); */
}
.btn--flappy--github4 {
    background-image: url(../assets/GitHub-Mark-32px.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--transparent);
    color: var(--black);
    margin-left: 770px;
    margin-top: -120px;
    margin-bottom: 90px;
    border: 0.05em solid #000000;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 100px;
    /* box-shadow: -3px 3px 1px rgba(0,0,0,0.5); */
}
.btn--flappy--github5 {
    background-image: url(../assets/GitHub-Mark-32px.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--transparent);
    color: var(--black);
    margin-left: 770px;
    margin-top: -170px;
    margin-bottom: 90px;
    border: 0.05em solid #000000;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 100px;
    /* box-shadow: -3px 3px 1px rgba(0,0,0,0.5); */
}
.btn--flies--yt {
    background-image: url(../assets/yt.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--transparent);
    color: var(--black);
    margin-left: -300px;
    margin-top: -210px;
    margin-bottom: 170px;
    border: 0.05em solid #000000;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 100px;
    /* box-shadow: -3px 3px 1px rgba(0,0,0,0.5); */
}
.btn--primary--outline:hover {
    transform: translateY(-3px);
    background-color: transparent;
}
.btn--success--outline {
    background-color: var(--transparent);
    color: var(--black);
    margin-left: 180px;
    margin-right: 27em;
    margin-top: -250px;
    margin-bottom: 250px; 
    display: inline-block;
    box-sizing: border-box;
    /* border: 2px solid var(--primary); */    
}
.btn--other--outline:hover {
    transform: translateY(-3px);
    background-color: transparent;
}
.btn--other--outline {
    background-color: var(--transparent);
    color: var(--black);
    margin-left: 820px;
    margin-right: 27em;
    margin-top: -175px;
    margin-bottom: 250px; 
    display: inline-block;
    box-sizing: border-box;
    /* border: 2px solid var(--primary); */
}

.btn--single:hover {
    transform: translateY(-3px);
    background-color: transparent;
}
.btn--single {
    background-color: var(--transparent);
    color: var(--black);
    margin-left: 490px;
    margin-right: 27em;
    margin-top: -70px;
    margin-bottom: 250px; 
    display: inline-block;
    box-sizing: border-box;
    /* border: 2px solid var(--primary); */
}
.btn--success--outline:hover {
    transform: translateY(-3px);
    background-color: transparent;
}
.btn--secondary--outline {
    background-color: var(--transparent);
    color: var(--black);
    margin-left: 800px;
    margin-top: 600px;
    margin-bottom: 100px; 
    display: inline-block;
    box-sizing: border-box;
    /* border: 2px solid var(--primary); */
    
    
    
}
/* size */

.btn--medium {
    padding: 3px 40px;
    font-size: 18px;
}

.btn--small {
    padding: 5px 141px;
    font-size: 20px;
}
.btn--extra--small {
    padding: 3px 5px;

}

