@import url("https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i|Saira+Extra+Condensed:100,200,300,400,500,600,700,800|Saira:100,200,300,400,500,600,700,800");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import url("http://fonts.cdnfonts.com/css/arial-nova");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --py-bar-width: 325px;
  --java-bar-width: 300px;
  --c-bar-width: 250px;
  --js-bar-width: 250px;
  --html-bar-width: 150px;
  --css-bar-width: 300px;
  --react-bar-width: 150px;

  /* Timeline*/
  --tl-p-col: #004ffc;
  --tl-l-col: white;
  --tl-d-col: #6c6d6d;
  --spacing: 50px;
  --radius: 4px;

  --date: 120px;
  --dotborder: 4px;
  --dot: 11px;
  --line: 4px;
  --font-title: "Saira", sans-serif;
  --font-text: "Chivo", sans-serif;
  --test-col: #ff715b; /* #980B64  BB0A21 FFC857 D00000*/
}

.short-intro-container {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  z-index: 0;
}

.short-intro-section {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  font-family: "Manrope";
}

.short-intro-name {
  font-size: 55px;
  font-weight: 900;
  letter-spacing: 7px;
  text-transform: uppercase;
  /* text-shadow: 3px 3px #1f1f1f; */
}

.short-intro-description {
  font-size: 26px;
}

.background-about {
  background: url("assets/ecg-vector.svg") no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.email-link {
  display: inline-block;
  text-decoration-skip-ink: auto;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  padding: 1.25rem 1.75rem;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: 50px;
}

.email-link:hover {
  color: white;
  background-color: rgba(255, 113, 91, 0.4);
  border: 1px solid var(--test-col);
}

.read-more-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  color: white;
  font-family: "Manrope";
}

.read-more-button {
  background-color: transparent;
  border: none;
  margin-top: 15px;
  height: 30px;
  width: 30px;
  padding: 0;
}

.read-more-button:focus {
  outline: none;
}
.read-more-arrow {
  width: 30px;
  height: 30px;
}

.main-section {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Manrope";
}

.main-section-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.featured-title-left::after {
  content: "";
  display: block;
  position: relative;
  /* width: 19%; */
  height: 1px;
  background-color: var(--test-col);
  margin-left: 20px;
  flex-grow: 1;
}

.section-title-left::after {
  content: "";
  display: block;
  position: relative;
  height: 1px;
  background-color: var(--test-col);
  margin-left: 20px;
  flex-grow: 1;
}

@media screen and (min-width: 1200px) {
  .section-title-left {
    width: 100%;
    font-size: 40px;
    color: white;
    letter-spacing: 7px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    text-shadow: 2px 2px var(--test-col); /* #1f1f1f */
    flex: 0 0 100%;
  }

  .featured-title-left {
    width: 100%;
    font-size: 40px;
    color: white;
    letter-spacing: 7px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    text-shadow: 2px 2px var(--test-col); /* #1f1f1f */
    flex: 0 0 100%;
  }
  .main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 475px;
    padding-bottom: 0;
  }

  .main-content-section {
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .avatar {
    position: relative;
    border-radius: 50%;
    height: 225px;
    width: 225px;
    z-index: 1;
    left: -100px;
  }

  .lukabball-img {
    position: relative;
    left: 100px;
    top: -60px;
    height: 225px;
    width: 225px;
    border-radius: 50%;
    z-index: 1;
  }
  .profile-picture {
    height: 236px;
    width: 236px;
  }

  .bball-picture {
    height: 236px;
    width: 236px;
  }
  .bball-picture::after {
    content: "";
    display: inline-block;
    height: 236px;
    width: 236px;
    background-color: transparent;
    border: 1px solid var(--test-col);
    border-radius: 50%;
    position: relative;
    left: 95px;
    top: -290px;
    z-index: 0;
  }

  .profile-picture::after {
    content: "";
    display: inline-block;
    height: 236px;
    width: 236px;
    background-color: transparent;
    border: 1px solid var(--test-col);
    border-radius: 50%;
    position: relative;
    left: -105px;
    top: -230px;
    z-index: 0;
  }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
  .featured-title-left {
    width: 100%;
    font-size: 40px;
    color: white;
    letter-spacing: 7px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    text-shadow: 2px 2px var(--test-col); /* #1f1f1f */
    flex: 0 0 100%;
  }

  .section-title-left {
    width: 100%;
    font-size: 35px;
    color: white;
    letter-spacing: 7px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    text-shadow: 2px 2px var(--test-col); /* #1f1f1f */
    flex: 0 0 100%;
  }

  .main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 525px;
  }

  .main-content-section {
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .avatar {
    position: relative;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    z-index: 1;
    left: -100px;
  }

  .lukabball-img {
    position: relative;
    left: -30px;
    top: -60px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    z-index: 1;
  }
  .profile-picture {
    height: 216px;
    width: 216px;
  }

  .bball-picture {
    height: 216px;
    width: 26px;
  }
  .bball-picture::after {
    content: "";
    display: inline-block;
    height: 212px;
    width: 212px;
    background-color: transparent;
    border: 1px solid var(--test-col);
    border-radius: 50%;
    position: relative;
    left: -36px;
    top: -266px;
    z-index: 0;
  }

  .profile-picture::after {
    content: "";
    display: inline-block;
    height: 212px;
    width: 212px;
    background-color: transparent;
    border: 1px solid var(--test-col);
    border-radius: 50%;
    position: relative;
    left: -106px;
    top: -206px;
    z-index: 0;
  }
}

@media screen and (min-width: 475px) and (max-width: 991px) {
  .section-title-left {
    width: 100%;
    font-size: 28px;
    color: white;
    letter-spacing: 7px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    text-shadow: 2px 2px var(--test-col); /* #1f1f1f */
    flex: 0 0 100%;
  }

  .main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 525px;
  }

  .main-content-section {
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .avatar {
    position: relative;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    z-index: 1;
    left: 0px;
  }

  .lukabball-img {
    position: relative;
    left: 0px;
    top: 0px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    z-index: 1;
  }
  .profile-picture {
    height: 170px;
    width: 170px;
  }

  .bball-picture {
    height: 170px;
    width: 170px;
  }
  .bball-picture::after {
    content: "";
    display: inline-block;
    height: 162px;
    width: 162px;
    background-color: transparent;
    border: 1px solid var(--test-col);
    border-radius: 50%;
    position: relative;
    left: -6px;
    top: -156px;
    z-index: 0;
  }

  .profile-picture::after {
    content: "";
    display: inline-block;
    height: 162px;
    width: 162px;
    background-color: transparent;
    border: 1px solid var(--test-col);
    border-radius: 50%;
    position: relative;
    left: -6px;
    top: -156px;
    z-index: 0;
  }
}

@media screen and (max-width: 475px) {
  .section-title-left {
    width: 100%;
    font-size: 22px;
    color: white;
    letter-spacing: 7px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    text-shadow: 2px 2px var(--test-col); /* #1f1f1f */
    flex: 0 0 100%;
  }

  .main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 525px;
  }

  .main-content-section {
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .avatar {
    position: relative;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    z-index: 1;
    left: 0px;
  }

  .lukabball-img {
    position: relative;
    left: 0px;
    top: 0px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    z-index: 1;
  }
  .profile-picture {
    height: 170px;
    width: 170px;
  }

  .bball-picture {
    height: 170px;
    width: 170px;
  }
  .bball-picture::after {
    content: "";
    display: inline-block;
    height: 162px;
    width: 162px;
    background-color: transparent;
    border: 1px solid var(--test-col);
    border-radius: 50%;
    position: relative;
    left: -6px;
    top: -156px;
    z-index: 0;
  }

  .profile-picture::after {
    content: "";
    display: inline-block;
    height: 162px;
    width: 162px;
    background-color: transparent;
    border: 1px solid var(--test-col);
    border-radius: 50%;
    position: relative;
    left: -6px;
    top: -156px;
    z-index: 0;
  }
}

.main-content-text {
  width: 50%;
}

.main-content-pics {
  padding-top: 0px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .main-section-projects {
    height: 1310px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Manrope";
  }
  .main-section-featured {
    height: 1810px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Manrope";
  }
  .skills-list {
    flex-basis: 28%;
  }
  .skills-list-languages {
    flex-basis: 16%;
  }
  .list-title {
    font-size: 22px;
    /* font-weight: 600; */
    color: white;
    text-shadow: 1px 1px var(--test-col);
  }

  .skills-list li {
    font-family: "Roboto Mono";
    color: white;
    font-size: 14px;
    padding-bottom: 5px;
  }
  .skills-list li::before {
    content: "⥰";
    font-size: 16px;
    line-height: 16px;
    position: relative;
    left: 0px;
    padding-right: 7px;
    color: var(--test-col);
  }
  .skills-list-languages li {
    font-family: "Roboto Mono";
    color: white;
    font-size: 14px;
    padding-bottom: 5px;
  }
  .skills-list-languages li::before {
    content: "⥰";
    font-size: 16px;
    line-height: 16px;
    position: relative;
    left: 0px;
    padding-right: 7px;
    color: var(--test-col);
  }
  .skills-list-ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    list-style: outside none none;
  }
  .lang-list {
    grid-template-columns: repeat(1, minmax(140px, 200px));
    display: grid;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    list-style: outside none none;
  }

  .contact-description {
    flex: 0 0 50%;
    font-size: 22px;
    color: white;
    font-weight: 400;
  }
  /* Featured Projects section */

  .project-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
    background-color: transparent;
    margin-bottom: 60px;
  }

  .description-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 40%;
  }

  .description-container-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex: 0 0 40%;
  }
  .feature-container {
    flex: 0 0 50%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .feature-container-right {
    flex: 0 0 50%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .feature-pic {
    height: 435px;
    width: 625px;
    box-shadow: 0 10px 30px -15px #1f1f1f;
  }

  .feature-pic-right {
    height: 435px;
    width: 625px;
    box-shadow: 0 10px 30px -15px #1f1f1f;
  }

  .project-title {
    color: #faffd8; /* #D2D7DF   #faffd8*/
    font-weight: 600;
    font-size: 30px;
    width: 90%;
    padding: 15px;
    background-color: #5c6f70;
    margin-bottom: 20px;
    border: 1px solid #5c6f70;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0 10px 30px -15px #1f1f1f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .project-title-right {
    color: #faffd8; /* #D2D7DF   #faffd8*/
    font-weight: 600;
    font-size: 30px;
    width: 90%;
    padding: 15px;
    background-color: #5c6f70;
    margin-bottom: 20px;
    border: 1px solid #5c6f70;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0 10px 30px -15px #1f1f1f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .automute-container {
    height: 435px;
    width: 625px;
    background-color: #1f1f1f;
    box-shadow: 0 10px 30px -15px #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #faffd8;
    font-size: 23px;
  }

  .automute-icon {
    color: #faffd8;
    fill: #faffd8;
    padding: 20px;
  }

  .description-section {
    width: 90%;
    padding: 15px;
    background-color: #5c6f70;
    margin-bottom: 20px;
    border: 1px solid #5c6f70;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0 10px 30px -15px #1f1f1f;
  }

  .project-frameworks {
    width: 90%;
    padding: 15px;
    background-color: #5c6f70;
    /* margin-bottom: 20px; */
    border: 1px solid #5c6f70;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0 10px 30px -15px #1f1f1f;
  }
  .project-frameworks ul {
    font-family: "Roboto Mono";
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .project-frameworks li {
    flex: 0 0 20%;
    text-align: center;
    color: #1f1f1f;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .main-section-projects {
    height: 1370px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Manrope";
  }

  .main-section-featured {
    height: 1710px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Manrope";
  }
  .skills-list {
    flex-basis: 28%;
  }
  .skills-list-languages {
    flex-basis: 16%;
  }
  .list-title {
    font-size: 20px;
    /* font-weight: 600; */
    color: white;
    text-shadow: 1px 1px var(--test-col);
  }

  .skills-list li {
    font-family: "Roboto Mono";
    color: white;
    font-size: 12px;
    padding-bottom: 5px;
  }
  .skills-list li::before {
    content: "⥰";
    font-size: 16px;
    line-height: 16px;
    position: relative;
    left: 0px;
    padding-right: 7px;
    color: var(--test-col);
  }

  .skills-list-languages li {
    font-family: "Roboto Mono";
    color: white;
    font-size: 12px;
    padding-bottom: 5px;
  }
  .skills-list-languages li::before {
    content: "⥰";
    font-size: 16px;
    line-height: 16px;
    position: relative;
    left: 0px;
    padding-right: 7px;
    color: var(--test-col);
  }
  .skills-list-ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 160px));
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    list-style: outside none none;
  }
  .lang-list {
    grid-template-columns: repeat(1, minmax(100px, 160px));
    display: grid;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    list-style: outside none none;
  }

  .contact-description {
    flex: 0 0 50%;
    font-size: 22px;
    color: white;
    font-weight: 500;
  }
  /* Featured Projects section */

  .project-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
    background-color: transparent;
    margin-bottom: 60px;
  }

  .description-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    flex: 0 0 50%;
  }

  .description-container-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex: 0 0 50%;
  }
  .feature-container {
    flex: 0 0 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .feature-container-right {
    flex: 0 0 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .feature-pic {
    position: relative;
    z-index: 0;
    /* left: -150px; */
    /* height: 380px; */
    width: 465px;
    height: 322px;
    box-shadow: 0 10px 30px -15px #1f1f1f;
  }

  .feature-pic-right {
    position: relative;
    z-index: 0;
    /* left: -150px; */
    /* height: 380px; */
    width: 465px;
    height: 322px;
    box-shadow: 0 10px 30px -15px #1f1f1f;
  }

  .project-title {
    color: #faffd8; /* #D2D7DF   #faffd8*/
    font-weight: 600;
    font-size: 30px;
    width: 200%;
    padding: 15px;
    background-color: #5c6f70;
    margin-bottom: 20px;
    border: 1px solid #5c6f70;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0 10px 30px -15px #1f1f1f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .project-title-right {
    color: #faffd8; /* #D2D7DF   #faffd8*/
    font-weight: 600;
    font-size: 30px;
    width: 200%;
    padding: 15px;
    background-color: #5c6f70;
    margin-bottom: 20px;
    border: 1px solid #5c6f70;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0 10px 30px -15px #1f1f1f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .automute-container {
    height: 322px;
    width: 465px;
    background-color: #1f1f1f;
    box-shadow: 0 10px 30px -15px #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #faffd8;
    font-size: 23px;
  }

  .automute-icon {
    color: #faffd8;
    fill: #faffd8;
    padding: 20px;
  }

  .description-section {
    width: 90%;
    padding: 15px;
    background-color: #5c6f70;
    margin-bottom: 20px;
    border: 1px solid #5c6f70;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0 10px 30px -15px #1f1f1f;
  }

  .project-frameworks {
    width: 90%;
    padding: 15px;
    background-color: #5c6f70;
    /* margin-bottom: 20px; */
    border: 1px solid #5c6f70;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0 10px 30px -15px #1f1f1f;
  }
  .project-frameworks ul {
    font-family: "Roboto Mono";
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .project-frameworks li {
    flex: 0 0 20%;
    text-align: center;
    color: #1f1f1f;
  }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  .main-section-projects {
    height: 1855px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Manrope";
  }

  .main-section-featured {
    height: 1855px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Manrope";
  }

  .featured-title-left {
    width: 100%;
    font-size: 28px;
    color: white;
    letter-spacing: 7px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    text-shadow: 2px 2px var(--test-col); /* #1f1f1f */
    flex: 0 0 100%;
  }
  .main-content-section {
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .skills-list-languages {
    flex-basis: 50%;
  }

  .skills-list {
    flex-basis: 50%;
  }
  .list-title {
    font-size: 20px;
    /* font-weight: 600; */
    color: white;
    text-shadow: 1px 1px var(--test-col);
  }

  .skills-list li {
    font-family: "Roboto Mono";
    color: white;
    font-size: 12px;
    padding-bottom: 5px;
  }
  .skills-list li::before {
    content: "⥰";
    font-size: 16px;
    line-height: 16px;
    position: relative;
    left: 0px;
    padding-right: 7px;
    color: var(--test-col);
  }
  .skills-list-languages li {
    font-family: "Roboto Mono";
    color: white;
    font-size: 12px;
    padding-bottom: 5px;
  }
  .skills-list-languages li::before {
    content: "⥰";
    font-size: 16px;
    line-height: 16px;
    position: relative;
    left: 0px;
    padding-right: 7px;
    color: var(--test-col);
  }
  .skills-list-ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 160px));
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    list-style: outside none none;
  }
  .lang-list {
    grid-template-columns: repeat(1, minmax(100px, 160px));
    display: grid;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    list-style: outside none none;
  }

  .contact-description {
    flex: 0 0 50%;
    font-size: 22px;
    color: white;
    font-weight: 500;
  }
  /* Featured Projects section */

  .project-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
    background-color: transparent;
    margin-bottom: 60px;
  }

  .description-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    flex: 0 0 50%;
  }

  .description-container-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex: 0 0 50%;
  }
  .feature-container {
    flex: 0 0 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .feature-container-right {
    flex: 0 0 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .feature-pic {
    position: relative;
    z-index: 0;
    /* left: -150px; */
    /* height: 380px; */
    opacity: 0.2;
    background-color: #1f1f1f;
    width: 200%;
    left: -100%;
    box-shadow: 0 10px 30px -15px #1f1f1f;
  }

  .feature-pic-right {
    position: relative;
    z-index: 0;
    /* left: -150px; */
    /* height: 380px; */
    opacity: 0.2;
    background-color: #1f1f1f;
    width: 200%;
    height: 495px;
    /* left: -100%; */
    box-shadow: 0 10px 30px -15px #1f1f1f;
  }
  .project-title {
    color: #faffd8; /* #D2D7DF   #faffd8*/
    font-weight: 600;
    font-size: 30px;
    width: 200%;
    padding: 15px;
    background-color: #5c6f70;
    margin-bottom: 20px;
    border: 1px solid #5c6f70;
    border-radius: 4px;
    z-index: 1;
    /* box-shadow: 0 10px 30px -15px #1f1f1f; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .project-title-right {
    color: #faffd8; /* #D2D7DF   #faffd8*/
    font-weight: 600;
    font-size: 30px;
    width: 200%;
    padding: 15px;
    background-color: #5c6f70;
    margin-bottom: 20px;
    border: 1px solid #5c6f70;
    border-radius: 4px;
    z-index: 1;
    /* box-shadow: 0 10px 30px -15px #1f1f1f; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .automute-container {
    height: 495px;
    width: 200%;
    position: relative;
    left: -100%;
    opacity: 0.35;
    background-color: #1f1f1f;
    box-shadow: 0 10px 30px -15px #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #faffd8;
    font-size: 23px;
  }

  .automute-icon {
    color: #faffd8;
    fill: #faffd8;
    padding: 20px;
  }

  .description-section {
    width: 90%;
    padding: 15px;
    background-color: transparent;
    margin-bottom: 20px;
    /* border: 1px solid #5c6f70; */
    border-radius: 4px;
    z-index: 1;
    /* box-shadow: 0 10px 30px -15px #1f1f1f; */
  }

  .project-frameworks {
    width: 100%;
    padding: 15px;
    background-color: transparent;
    /* margin-bottom: 20px; */
    /* border: 1px solid #5c6f70; */
    border-radius: 4px;
    z-index: 1;
    /* box-shadow: 0 10px 30px -15px #1f1f1f; */
  }
  .project-frameworks ul {
    font-family: "Roboto Mono";
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .project-frameworks li {
    flex: 0 0 20%;
    text-align: center;
    color: #1f1f1f;
  }
}

@media screen and (min-width: 575px) and (max-width: 767px) {
  .main-section-projects {
    height: 2775px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Manrope";
  }
  .main-section-featured {
    height: 1415px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Manrope";
  }
  .featured-title-left {
    width: 100%;
    font-size: 28px;
    color: white;
    letter-spacing: 7px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    text-shadow: 2px 2px var(--test-col); /* #1f1f1f */
    flex: 0 0 100%;
  }

  .main-content-section {
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .skills-list-languages {
    flex-basis: 50%;
  }

  .skills-list {
    flex-basis: 50%;
  }
  .list-title {
    font-size: 20px;
    /* font-weight: 600; */
    color: white;
    text-shadow: 1px 1px var(--test-col);
  }

  .skills-list li {
    font-family: "Roboto Mono";
    color: white;
    font-size: 12px;
    padding-bottom: 5px;
  }
  .skills-list li::before {
    content: "⥰";
    font-size: 16px;
    line-height: 16px;
    position: relative;
    left: 0px;
    padding-right: 7px;
    color: var(--test-col);
  }
  .skills-list-languages li {
    font-family: "Roboto Mono";
    color: white;
    font-size: 12px;
    padding-bottom: 5px;
  }
  .skills-list-languages li::before {
    content: "⥰";
    font-size: 16px;
    line-height: 16px;
    position: relative;
    left: 0px;
    padding-right: 7px;
    color: var(--test-col);
  }
  .skills-list-ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 160px));
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    list-style: outside none none;
  }
  .lang-list {
    grid-template-columns: repeat(1, minmax(100px, 160px));
    display: grid;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    list-style: outside none none;
  }
  .contact-description {
    flex: 0 0 50%;
    font-size: 18px;
    color: white;
    font-weight: 500;
  }
  /* Featured Projects section */

  .project-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
    background-color: transparent;
    margin-bottom: 60px;
  }

  .description-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    flex: 0 0 100%;
  }

  .description-container-right {
    position: relative;
    left: -100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 0 0 100%;
  }
  .feature-container {
    flex: 0 0 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .feature-container-right {
    flex: 0 0 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .feature-pic {
    position: relative;
    z-index: 0;
    /* left: -150px; */
    /* height: 380px; */
    opacity: 0.2;
    background-color: #1f1f1f;
    width: 100%;
    left: -100%;
    top: 0;
    box-shadow: 0 10px 30px -15px #1f1f1f;
  }

  .feature-pic-right {
    position: relative;
    z-index: 0;
    /* left: -150px; */
    height: 355px;
    opacity: 0.2;
    background-color: #1f1f1f;
    width: 100%;
    left: 0%;
    top: 0;
    box-shadow: 0 10px 30px -15px #1f1f1f;
  }
  .project-title {
    color: #faffd8; /* #D2D7DF   #faffd8*/
    font-weight: 600;
    font-size: 30px;
    width: 100%;
    padding: 15px;
    background-color: #5c6f70;
    margin-bottom: 10px;
    border: 1px solid #5c6f70;
    border-radius: 4px;
    z-index: 1;
    /* box-shadow: 0 10px 30px -15px #1f1f1f; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .project-title-right {
    color: #faffd8; /* #D2D7DF   #faffd8*/
    font-weight: 600;
    font-size: 30px;
    width: 100%;
    padding: 15px;
    background-color: #5c6f70;
    margin-bottom: 10px;
    border: 1px solid #5c6f70;
    border-radius: 4px;
    z-index: 1;
    /* box-shadow: 0 10px 30px -15px #1f1f1f; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .automute-container {
    height: 353px;
    width: 100%;
    position: relative;
    left: -100%;
    opacity: 0.35;
    background-color: #1f1f1f;
    box-shadow: 0 10px 30px -15px #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #faffd8;
    font-size: 23px;
  }

  .automute-icon {
    color: #faffd8;
    fill: #faffd8;
    padding: 20px;
  }

  .description-section {
    width: 90%;
    padding-left: 15px;
    background-color: transparent;
    margin-bottom: 5px;
    /* border: 1px solid #5c6f70; */
    border-radius: 4px;
    z-index: 1;
    /* box-shadow: 0 10px 30px -15px #1f1f1f; */
  }

  .project-frameworks {
    width: 100%;
    padding: 15px;
    background-color: transparent;
    /* margin-bottom: 20px; */
    /* border: 1px solid #5c6f70; */
    border-radius: 4px;
    z-index: 1;
    /* box-shadow: 0 10px 30px -15px #1f1f1f; */
  }
  .project-frameworks ul {
    font-family: "Roboto Mono";
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .project-frameworks li {
    flex: 0 0 20%;
    text-align: center;
    color: #1f1f1f;
  }
}

@media screen and (min-width: 475px) and (max-width: 575px) {
  .main-section-projects {
    height: 2850px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Manrope";
  }
  .main-section-featured {
    height: 1464px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Manrope";
  }
  .featured-title-left {
    width: 100%;
    font-size: 28px;
    color: white;
    letter-spacing: 7px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    text-shadow: 2px 2px var(--test-col); /* #1f1f1f */
    flex: 0 0 100%;
  }

  .main-content-section {
    color: #fff;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .skills-list-languages {
    flex-basis: 50%;
  }

  .skills-list {
    flex-basis: 50%;
  }
  .list-title {
    font-size: 20px;
    /* font-weight: 600; */
    color: white;
    text-shadow: 1px 1px var(--test-col);
  }

  .skills-list li {
    font-family: "Roboto Mono";
    color: white;
    font-size: 12px;
    padding-bottom: 5px;
  }
  .skills-list li::before {
    content: "⥰";
    font-size: 16px;
    line-height: 16px;
    position: relative;
    left: 0px;
    padding-right: 7px;
    color: var(--test-col);
  }
  .skills-list-languages li {
    font-family: "Roboto Mono";
    color: white;
    font-size: 12px;
    padding-bottom: 5px;
  }
  .skills-list-languages li::before {
    content: "⥰";
    font-size: 16px;
    line-height: 16px;
    position: relative;
    left: 0px;
    padding-right: 7px;
    color: var(--test-col);
  }
  .skills-list-ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 160px));
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    list-style: outside none none;
  }
  .lang-list {
    grid-template-columns: repeat(1, minmax(100px, 160px));
    display: grid;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    list-style: outside none none;
  }

  .contact-description {
    flex: 0 0 50%;
    font-size: 18px;
    color: white;
    font-weight: 500;
  }
  /* Featured Projects section */

  .project-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
    background-color: transparent;
    margin-bottom: 60px;
  }

  .description-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    flex: 0 0 100%;
  }

  .description-container-right {
    position: relative;
    left: -100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 0 0 100%;
  }
  .feature-container {
    flex: 0 0 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .feature-container-right {
    flex: 0 0 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .feature-pic {
    position: relative;
    z-index: 0;
    /* left: -150px; */
    /* height: 380px; */
    opacity: 0.2;
    background-color: #1f1f1f;
    width: 100%;
    left: -100%;
    top: 0;
    box-shadow: 0 10px 30px -15px #1f1f1f;
  }

  .feature-pic-right {
    position: relative;
    z-index: 0;
    /* left: -150px; */
    height: 355px;
    opacity: 0.2;
    background-color: #1f1f1f;
    width: 100%;
    left: 0%;
    top: 0;
    box-shadow: 0 10px 30px -15px #1f1f1f;
  }
  .project-title {
    color: #faffd8; /* #D2D7DF   #faffd8*/
    font-weight: 600;
    font-size: 30px;
    width: 100%;
    padding: 15px;
    background-color: #5c6f70;
    margin-bottom: 10px;
    border: 1px solid #5c6f70;
    border-radius: 4px;
    z-index: 1;
    /* box-shadow: 0 10px 30px -15px #1f1f1f; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .project-title-right {
    color: #faffd8; /* #D2D7DF   #faffd8*/
    font-weight: 600;
    font-size: 30px;
    width: 100%;
    padding: 15px;
    background-color: #5c6f70;
    margin-bottom: 10px;
    border: 1px solid #5c6f70;
    border-radius: 4px;
    z-index: 1;
    /* box-shadow: 0 10px 30px -15px #1f1f1f; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .automute-container {
    height: 353px;
    width: 100%;
    position: relative;
    left: -100%;
    opacity: 0.35;
    background-color: #1f1f1f;
    box-shadow: 0 10px 30px -15px #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #faffd8;
    font-size: 23px;
  }

  .automute-icon {
    color: #faffd8;
    fill: #faffd8;
    padding: 20px;
  }

  .description-section {
    width: 90%;
    padding-left: 15px;
    background-color: transparent;
    margin-bottom: 5px;
    /* border: 1px solid #5c6f70; */
    border-radius: 4px;
    z-index: 1;
    /* box-shadow: 0 10px 30px -15px #1f1f1f; */
  }

  .project-frameworks {
    width: 100%;
    padding: 15px;
    background-color: transparent;
    /* margin-bottom: 20px; */
    /* border: 1px solid #5c6f70; */
    border-radius: 4px;
    z-index: 1;
    /* box-shadow: 0 10px 30px -15px #1f1f1f; */
  }
  .project-frameworks ul {
    font-family: "Roboto Mono";
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .project-frameworks li {
    flex: 0 0 20%;
    text-align: center;
    color: #1f1f1f;
  }
}

@media screen and (max-width: 475px) {
  .featured-title-left {
    width: 100%;
    font-size: 22px;
    color: white;
    letter-spacing: 7px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    text-shadow: 2px 2px var(--test-col); /* #1f1f1f */
  }

  .main-content-section {
    color: #fff;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .skills-list-languages {
    flex-basis: 50%;
  }

  .skills-list {
    flex-basis: 50%;
  }
  .list-title {
    font-size: 20px;
    /* font-weight: 600; */
    color: white;
    text-shadow: 1px 1px var(--test-col);
  }

  .skills-list li {
    font-family: "Roboto Mono";
    color: white;
    font-size: 12px;
    padding-bottom: 5px;
  }
  .skills-list li::before {
    content: "⥰";
    font-size: 16px;
    line-height: 16px;
    position: relative;
    left: 0px;
    padding-right: 7px;
    color: var(--test-col);
  }
  .skills-list-languages li {
    font-family: "Roboto Mono";
    color: white;
    font-size: 12px;
    padding-bottom: 5px;
  }
  .skills-list-languages li::before {
    content: "⥰";
    font-size: 16px;
    line-height: 16px;
    position: relative;
    left: 0px;
    padding-right: 7px;
    color: var(--test-col);
  }
  .skills-list-ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 160px));
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    list-style: outside none none;
  }
  .lang-list {
    grid-template-columns: repeat(1, minmax(100px, 160px));
    display: grid;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    list-style: outside none none;
  }
  .contact-description {
    flex: 0 0 50%;
    font-size: 18px;
    color: white;
    font-weight: 500;
  }
  /* Featured Projects section */

  .project-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
    background-color: transparent;
    margin-bottom: 60px;
  }

  .description-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    flex: 0 0 100%;
  }

  .description-container-right {
    position: relative;
    left: -100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 0 0 100%;
  }
  .feature-container {
    flex: 0 0 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .feature-container-right {
    flex: 0 0 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .feature-pic {
    position: relative;
    z-index: 0;
    /* left: -150px; */
    /* height: 380px; */
    opacity: 0.2;
    background-color: #1f1f1f;
    width: 100%;
    left: -100%;
    top: 0;
    box-shadow: 0 10px 30px -15px #1f1f1f;
  }

  .feature-pic-right {
    position: relative;
    z-index: 0;
    /* left: -150px; */
    height: 355px;
    opacity: 0.2;
    background-color: #1f1f1f;
    width: 100%;
    left: 0%;
    top: 0;
    box-shadow: 0 10px 30px -15px #1f1f1f;
  }
  .project-title {
    color: #faffd8; /* #D2D7DF   #faffd8*/
    font-weight: 600;
    font-size: 30px;
    width: 100%;
    padding: 15px;
    background-color: #5c6f70;
    margin-bottom: 10px;
    border: 1px solid #5c6f70;
    border-radius: 4px;
    z-index: 1;
    /* box-shadow: 0 10px 30px -15px #1f1f1f; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .project-title-right {
    color: #faffd8; /* #D2D7DF   #faffd8*/
    font-weight: 600;
    font-size: 30px;
    width: 100%;
    padding: 15px;
    background-color: #5c6f70;
    margin-bottom: 10px;
    border: 1px solid #5c6f70;
    border-radius: 4px;
    z-index: 1;
    /* box-shadow: 0 10px 30px -15px #1f1f1f; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .automute-container {
    height: 353px;
    width: 100%;
    position: relative;
    left: -100%;
    opacity: 0.35;
    background-color: #1f1f1f;
    box-shadow: 0 10px 30px -15px #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #faffd8;
    font-size: 23px;
  }

  .automute-icon {
    color: #faffd8;
    fill: #faffd8;
    padding: 20px;
  }

  .description-section {
    width: 90%;
    padding-left: 15px;
    background-color: transparent;
    margin-bottom: 5px;
    /* border: 1px solid #5c6f70; */
    border-radius: 4px;
    z-index: 1;
    /* box-shadow: 0 10px 30px -15px #1f1f1f; */
  }

  .project-frameworks {
    width: 100%;
    padding: 15px;
    background-color: transparent;
    /* margin-bottom: 20px; */
    /* border: 1px solid #5c6f70; */
    border-radius: 4px;
    z-index: 1;
    /* box-shadow: 0 10px 30px -15px #1f1f1f; */
  }
  .project-frameworks ul {
    font-family: "Roboto Mono";
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .project-frameworks li {
    flex: 0 0 20%;
    text-align: center;
    color: #1f1f1f;
  }
}
/* add a thing for less than 475px */

.links-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  height: 41px;
}

.link-icon {
  padding-bottom: 5px;
  margin-right: 20px;
  color: white;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.link-icon:hover {
  color: #faffd8;
}

.description-section li {
  position: relative;
  font-family: "Arial Nova";
  color: white;
  font-size: 15px;
  padding-left: 15px;
}

.description-section li::before {
  content: "‣";
  line-height: 16px;
  position: absolute;
  left: 0px;
  top: 4px;
  padding-right: 3px;
  color: var(--test-col);
}
.project-decription {
  color: white;
  font-size: 15px;
  font-weight: 400;
  font-family: "Arial Nova";
  margin-bottom: 0;
}
p {
  color: white;
  font-size: 15px;
  font-weight: 400;
  font-family: "Arial Nova";
  margin-bottom: 0;
}
.features-title {
  color: #faffd8;
  font-size: 18px;
  font-family: "Manrope";
  font-weight: 600;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
}

.in-progress {
  font-size: 22px;
  padding-left: 30px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 100px;
}

.socials {
  height: 100%;
  flex: 0 0 50%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.socials ul {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-top: 10px;
  padding: 0;
  overflow: hidden;
  list-style: outside none none;
  text-align: center;
  vertical-align: middle;
  color: var(--text-colour);
}

.socials li:nth-child(odd) {
  margin-right: 100px;
}

.socials a:hover {
  color: #ff8370;
}

.footer {
  font-family: 'Roboto Mono';
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 15px;
  padding-bottom: 30px;
}
