.bmp-title{
    color: var(--text-colour);
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 100px;
    z-index: 4;
    position: absolute;
    left: 50%;
    margin-left: -490px;
    top: 100px;
}

.bmp-text{
    color: var(--text-colour);
    font-size: 20px;
    font-weight: 100;
    font-family: 'Manrope', sans-serif;
    position: absolute;
    top: 39%;
    left: 35%;
    right: 28%;
    margin-left: -75px;
    text-align: center;
}

.bmp-link{
    color: var(--text-colour);
    font-size: 20px;
    font-weight: 100;
    font-family: 'Manrope', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16px;
    text-align: center;
}

.body-biomed{
    width: 100%;
    height: 530%;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 0%;
    right: 0%;
    background: var(--primary-col);   
    
}

.bm-btn-tray{
    width: var(--box-width);
    height: 70px;
    position: absolute;
    top: 270px;
    left: 50%;
    margin-left:-500px;
    z-index: 4;
    background: var(--bg);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bm-btn-tray button{
    font-family: 'Manrope', sans-serif;
    width: 150px;
    height: 40px;
    letter-spacing: 3px;
    border-radius: 5px;
    border: none;
}
.compl-year-btn{
    background-color: #44AF69;
}


.ncp-year-btn{
    background-color: #DF3237;
}

.year-box{
    width: 100%;
    position: absolute;
    left: 50%;
    margin-left: -500px;
    
}
.year-box section{
    width: 1000px;
    
    position: absolute;
    background: var(--bg);
    border-radius: 10px;
    box-shadow: inset;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.year-box h1{
    position: absolute;
    left: 30px;
    top: 50px;
    font-size: 50px;
    font-weight: 600;
    color: var(--text-colour);
    z-index: 2;
}

.year-box h2{
    font-family: 'Manrope', sans-serif;
    position: absolute;
    left: 30px;
    

    font-size: 20px;
    color: var(--text-colour);
    z-index: 2;
}

.year-box .year-text{
    position: absolute;
    top: 130px;
    
}
.year-box h3{
    font-family: 'Manrope', sans-serif;
    position: absolute;
    left: 20px;
    right: 20px;
    font-size: 25px;
    color: var(--text-colour);
    z-index: 2;
}

.year-1{
    position: absolute;
    top: 350px;
    height: 3650px;
}

.year-2{
    position: absolute;
    top: 4100px;
    height: 1000px;
}
.year-3{
    position: absolute;
    top: 5200px;
    height: 300px;
}

.year-4{
    position: absolute;
    top: 5600px;
    height: 300px;
}

.year-5{
    position: absolute;
    top: 6000px;
    height: 300px;
}

.p1-box{
    width: 970px;
    height: 200px;
    background: var(--primary-col);
    position: absolute;
    left: 15px;
    top: 30px;
    border-radius: 10px;
    transition: 300ms ease;
    z-index: 1;

}

.p2-box{
    width: 970px;
    height: 580px;
    background: #1C1F2F;
    position: absolute;
    left: 15px;
    top: 275px;
    border-radius: 10px;
    transition: 300ms ease;
    z-index: 1;
}

.dp1-title{
    position: absolute;
    top: 20px;
    font-weight: 600;
}

.dp1-t1{
    position: absolute;
    top: 100px;
    left: 0px;
    right: 50%;
    text-align: justify;

}

.dp1-t2{
    position: absolute;
    top: 350px;
    right: 50%;
    text-align: justify;
}

.dp1-img{
    position: absolute;
    top: 60px;
    /* left: 50%; */
    right: 10%;
}

.dp1-pdf-btn{
    font-family: 'Manrope', sans-serif;
    width: 270px;
    height: 40px;
    letter-spacing: 3px;
    border-radius: 5px;
    border: none;
    background-color: var(--seventh-col);
    color: var(--text-colour);
    position: absolute;
    top: 450px;
    right: 100px;
}

.p3-box{
    width: 970px;
    height: 700px;
    background: #1C1F2F;
    position: absolute;
    left: 15px;
    top: 900px;
    border-radius: 10px;
    transition: 300ms ease;
    z-index: 1;
}

.dp2-t2{
    position: absolute;
    top: 300px;
    right: 50%;
    text-align: justify;
}

.dp2-pdf-btn{
    font-family: 'Manrope', sans-serif;
    width: 450px;
    height: 40px;
    letter-spacing: 3px;
    border-radius: 5px;
    border: none;
    background-color: var(--seventh-col);
    color: var(--text-colour);
    position: absolute;
    top: 620px;
    left: 30px;
}

.dp2_1-img{
    width: 400px;
    object-fit: cover;
    position: absolute;
    right: 50px;
    top: 110px;
}

.dp2_2-img{
    width: 400px;
    object-fit: cover;
    position: absolute;
    right: 50px;
    top: 265px;
}

.dp2_3-img{
    width: 190px;
    object-fit: cover;
    position: absolute;
    right: 50px;
    top: 500px;
}

.dp2_4-img{
    width: 190px;
    height: 138px;
    object-fit: cover;
    position: absolute;
    right: 260px;
    top: 500px;
}

.p4-box{
    width: 970px;
    height: 925px;
    background: #1C1F2F;
    position: absolute;
    left: 15px;
    top: 1650px;
    border-radius: 10px;
    transition: 300ms ease;
    z-index: 1;
}

.dp3-t3{
    position: absolute;
    top: 400px;
    right: 50%;
    text-align: justify;
}

.dp3-t4{
    position: absolute;
    top: 650px;
    right: 50%;
    text-align: justify;
}

.dp3-t5{
    position: absolute;
    top: 550px;
    right: 50%;
    text-align: justify;
}

.dp3-pdf-btn{
    font-family: 'Manrope', sans-serif;
    width: 450px;
    height: 40px;
    letter-spacing: 3px;
    border-radius: 5px;
    border: none;
    background-color: var(--seventh-col);
    color: var(--text-colour);
    position: absolute;
    top: 775px;
    left: 30px;
}

.dp3_1-img{
    width: 400px;
    object-fit: cover;
    position: absolute;
    right: 30px;
    top: 70px;
}

.dp3_2-img{
    width: 400px;
    object-fit: cover;
    position: absolute;
    right: 30px;
    top: 375px;
}

.dp3_3-img{
    width: 400px;
    object-fit: cover;
    position: absolute;
    right: 30px;
    top: 590px;
}

.p5-box{
    width: 970px;
    height: 1000px;
    background: #1C1F2F;
    position: absolute;
    left: 15px;
    top: 2625px;
    border-radius: 10px;
    transition: 300ms ease;
    z-index: 1;
}

.dp4-t2{
    position: absolute;
    top: 300px;
    right: 50%;
    text-align: justify;
}

.dp4-t3{
    position: absolute;
    top: 450px;
    right: 50%;
    text-align: justify;
}
.dp4-t4{
    position: absolute;
    top: 575px;
    right: 50%;
    text-align: justify;
}
.dp4-t5{
    position: absolute;
    top: 725px;
    right: 50%;
    text-align: justify;
}

.dp4-pdf-btn{
    font-family: 'Manrope', sans-serif;
    width: 450px;
    height: 40px;
    letter-spacing: 3px;
    border-radius: 5px;
    border: none;
    background-color: var(--seventh-col);
    color: var(--text-colour);
    position: absolute;
    top: 930px;
    left: 30px;
}

.dp4_1-img{
    width: 400px;
    object-fit: cover;
    position: absolute;
    right: 30px;
    top: 70px;
}

.dp4_2-img{
    width: 400px;
    object-fit: cover;
    position: absolute;
    right: 30px;
    top: 435px;
}

.dp4_3-img{
    width: 400px;
    object-fit: cover;
    position: absolute;
    right: 30px;
    top: 670px;
}

/*Year 2*/

.py2-box{
    width: 970px;
    height: 700px;
    background: #1C1F2F;
    position: absolute;
    left: 15px;
    top: 275px;
    border-radius: 10px;
    transition: 300ms ease;
    z-index: 1;
}

.y2dp-t1{
    position: absolute;
    top: 70px;
    left: 0px;
    right: 30px;
    text-align: justify;

}

.y2dp-t2{
    position: absolute;
    top: 370px;
    right: 50%;
    text-align: justify;
}

.y2dp-t4{
    position: absolute;
    top: 560px;
    right: 50%;
    text-align: justify;
}

.dpy2-pdf-btn{
    font-family: 'Manrope', sans-serif;
    width: 450px;
    height: 40px;
    letter-spacing: 3px;
    border-radius: 5px;
    border: none;
    background-color: var(--seventh-col);
    color: var(--text-colour);
    position: absolute;
    top: 650px;
    left: 30px;
}

.dpy2_1-img{
    width: 600px;
    object-fit: cover;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 135px;
}

.dpy2_2-img{
    width: 375px;
    object-fit: cover;
    position: absolute;
    right: 30px;
    top: 375px;
}

.comg-soon{
    font-family: 'Manrope';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -160px;
    z-index: 4;
    font-size: 50px;
    color: var(--text-colour);
}