.body-contact{
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    background: var(--primary-col);   
    
}

.ct-box{
    width: 80%;
    height: 80%;
    position: fixed;
    top: 10%;
    left: 10%;
    background: var(--bg);
    border-radius: 10px;
    box-shadow: inset;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.contact-title{
    color: var(--text-colour);
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 50px;
    position: fixed;
    left: 50%;
    margin-left: -133px;
    top: 23%;
}

.contact-text{
    color: var(--text-colour);
    font-family: 'Manrose', sans-serif;
    font-size: 18px;
    position: fixed;
    left: 54%;
    right: 27%;
    top: 49.5%;
    
}

.mid-bar{
    background-color:  rgba(255, 255, 255, 0.8);;
    height: 300px;
    width: 4px;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: -2px;
    border-radius: 10px;
}

.btn-tray{
    position: fixed;
    top: 46%;
    left: 25%;
}
.btn-tray a{
    color: var(--text-colour);
}
.btn-tray button{
    width: 250px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 20px 0 20px 0;
    transition: 300ms ease;
    
}

.email-icon{
    margin-left: 10px;
    margin-right: 10px;
}
.twitter-icon{
    margin-left: 10px;
    margin-right: 39px;
}
.gh-icon{
    margin-left: 10px;
    margin-right: 47px;
}

.email-btn{
    background-color: var(--fifth-col);
}

.twitter-btn{
    background-color: var(--sixth-col);
}

.github-btn{
    background-color: var(--seventh-col);
}