.gallery-title{
    color: var(--text-colour);
    font-size: 50px;
    font-family: 'Manrope', sans-serif;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -75px;
}

.gallery-text{
    color: var(--text-colour);
    font-size: 20px;
    font-weight: 100;
    font-family: 'Manrope', sans-serif;
    position: absolute;
    top: 39%;
    left: 47.5%;
    right: 40%;
    margin-left: -75px;
}