@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;800&display=swap');

.rotating-text {
    color: #dadce1;
    text-align: center;
    font-size: 50px;
}

p {
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

@keyframes slideInFromRight {
  0% {
    transform: translateX(+100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes slideInFromBottom{
  0% {
    transform: translateY(+100%);
  }
  100%{
    transform: translateY(0);
  }
}
.biomed-text {
    /* color: #81a4cd; */
    /* color: #dadce1; */
    color: var(--bg);
    font-size: 300px;
    font-weight: 1000;
    position: absolute;
    margin-top: 70px;
    width: 50%;
    max-width: 700px;
    right: 50%;
    word-wrap: break-word;
    line-height: 1em;
    /* transition-property: transform;
    transition-duration: 500ms;
    transition-delay: 0ms;
    transition-timing-function: ease-in;
    transform: translateX(30%); */
    animation: 1s ease-out 0s 1 slideInFromLeft;
}



.soft-text {
    color: #5B5B59;
    /* color: #A29C9B; */
    font-size: 300px;
    font-weight: 800;
    position: absolute;
    width: 50%;
    max-width: 700px;
    left: 52%;
    word-wrap: break-word;
    line-height: 1em;
    margin-top: 70px;
    text-align: justify;
    animation: 1s ease-out 0s 1 slideInFromRight;
    
}

.fn-text {
  color: #ffcf99;
  font-size: 150px;
  position: absolute;
  top: 300px;
  left: 50%;
  font-weight: 200;
  margin-left: -390px;
  animation: 1s ease 0s 1 fadeIn;
}

.animated-button1 {
  background: linear-gradient(-30deg, #3d0b0b 50%, #2b0808 50%);
  padding: 15px 50px;
  position: fixed;
  margin-left: -85px;
  left: 50%;
  top: 700px;
  margin-top: -30px;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  overflow: hidden;
  color: #f7d4d4;
  font-size: 20px;
  letter-spacing: 2.5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.animated-button1::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ad8585;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out;
}

.animated-button1:hover::before {
  opacity: 0.2;
}

.animated-button1 span {
  position: absolute;
}

.animated-button1 span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(to left, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateTop linear infinite;
          animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.animated-button1 span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(to top, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateRight linear -1s infinite;
          animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.animated-button1 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(to right, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateBottom linear infinite;
          animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.animated-button1 span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateLeft linear -1s infinite;
          animation: 2s animateLeft linear -1s infinite;
}

