.header-image {
    background: url(assets/projectshome.jpg);
    background-size: cover;
    background-position: center;
    display: block;
    margin: 0;
    text-align: center;
    
    width: px;
    height: 180px;
}

.biomed-image{
    height: 550px;
    width: 550px;
    background-repeat: no-repeat;
    background-position: 15px 60px;
    margin-top: 40px;
    margin-left: 4px;
    padding-left: 10px;
    float: left;

}

.prog-image {
    height: 480px;
    width: 480px;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-left: 650px;
}

.elec-image {
    height:500px;
    width: 500px;
    margin-top: 30px
}
h3 {
    padding-top: 40px;
    font-size: 75px;
    font-family: Verdana;
    font-weight: 700;
    color: white;
}
h4 {
    padding-top: 40px;
    padding-left: 180px;
    text-align: right;
    float: right;
    
}

h5 {
    font-size: 19px;
    margin-left: 30em;
    text-align: right;
    margin-top: -24em;
    font-weight: 400;
}

h6 {
    margin-top: -19em;
    margin-left: 14px;
    font-size: 24px;
}

h7 {
    font-size: 19px;
    text-align: left;
    margin-top: -19em;
    margin-left: 14px;
    margin-right: 25em;
}

h8 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 40px;
    margin-left: 440px;
}

h9 {
    font-size: 19px;
    text-align: right;
    margin-top: -20em;
    margin-left: 640px;
    
}

.footer {
    position: absolute;
    width: 110%;
    background-color: #3c3c3c;
    color: white;
    text-align:center;
    margin-top:-30px;
    
    
}

/* -------Arrow Button Stuff--------- */



.button-img {
    height:20px;
    width: 20px;
}

.icon-arrows::after,
.icon-arrows::before {
  content: '';
}
.icon-arrows span,
.icon-arrows::after,
.icon-arrows::before {
	display: block;
	width: 2.0em;
	height: 2.0em;
	border-right: 3px solid rgba(0,0,0,0.8);
	border-bottom: 3px solid rgba(0,0,0,.8);
	margin: 0 0 0.125em 0.315em;
	transform: rotate(45deg);
    animation: mouse-scroll 1s infinite;
	animation-direction: alternate;
}

.icon-arrows::before {
	margin-top: 0.315em;
	animation-delay: .1s;
}

.icon-scroll span {
	animation-delay: .2s;
}

.icon-arrows::after {
	animation-delay: .3s;
}
@keyframes mouse-scroll {
	0%   { opacity: 0; }
	50%  { opacity: .5; }
	100% { opacity: 1; }
}

.icon-arrows-up::after,
.icon-arrows-up::before {
  content: '';
}
.icon-arrows-up span,
.icon-arrows-up::after,
.icon-arrows-up::before {
	display: block;
	width: 2.0em;
	height: 2.0em;
	border-right: 3px solid rgba(0,0,0,0.8);
	border-bottom: 3px solid rgba(0,0,0,.8);
	margin: 0 0 0.125em 0.315em;
	transform: rotate(225deg);
    animation: mouse-scroll 1s infinite;
	animation-direction: alternate;
}
